{% extends "layout.twig" %}

{% set title="Testing Pays" %}
{% block content %}
  <div class="col-sm-10 margin-top">

    <div class="col-sm-10 cart">
      <div class="row">
        <div class="cart-title">
          <h2>Your Cart</h2>
        </div>
        <hr width="100%" style="border-top: 1px solid black">

        <div class="row">
          <div class="headings">
            <div class="col-sm-3">
              <h4>Name</h4>
            </div>
            <div class="col-sm-5">
              <h4>Quantity</h4>
            </div>
            <div class="col-sm-2">
              <h4>Price</h4>
            </div>
            <div class="col-sm-2">
              <h4>Total</h4>
            </div>
          </div>
        </div>

        <div class="cart-list">
          {% for product in cart %}
            <div class="row">
              <div class="cart-item">
                <div class="cart-content">
                  <div class="col-sm-3">
                    {{product.name}}
                  </div>
                  <div class="col-sm-5">
                    {{product.quantity}}
                  </div>
                  <div class="col-sm-2">
                    ${{product.price}}
                  </div>
                  <div class="col-sm-2">
                    <b>${{product.total}}</b>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="row">
          <div class="col-sm-9"></div>
          <div class="col-sm-1 cart-total">
            <h4>Total</h4>
          </div>
          <div class="col-sm-2 cart-item cart-total">
            <b>${{total}}</b>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-9">
            <button id="emptycart" class="btn btn-danger btn-shadow">Empty Cart</button>
          </div>
          <div class="col-sm-3 ">
            <a href="/checkout"><button class="btn btn-primary btn-block btn-shadow">Checkout</button></a>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-1"></div>

  </div>
{% endblock %}
