{% extends "layout.twig" %}

{% set title="Testing Pays" %}
{% block content %}

  <div class="col-sm-10 margin-top">
    {% for product in products %}

      <div class="col-sm-3">
        <div class="grid-item">
          <div data-content="{{product[0]}} : ${{product[2]}}" data-html="true" class="grid-item-image">
            <img src="/assets/products/images/{{product[0]}}.jpg" width="195" height="200" alt="" />
          </div>
          <div class="grid-button">
            <button data-content="{{product[0]}},{{product[2]}}" class="btn btn-block btn-primary addToCart">Add to Cart</button>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
{% endblock %}
